<%= provide(:title, @user.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="user_info">
            <h1>
                <%= image_tag @user.picture.url, class: "avatar" %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>
    <div class="col-md-8">
        <% if @user.proposals.any? %>
            <h3>Proposals (<%= @user.proposals.count %>)</h3>
            <ol class="proposals">
                <%= render @proposals %>
            </ol>
            <%= will_paginate @proposals %>
        <% end %>
    </div>
</div>
