<%= provide(:title, @publisher.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="publisher_info">
            <h1>
                <%= @publisher.name %>
            </h1>
            <% if false %>
                <%= link_to "Edit Publisher", edit_publisher_path(@publisher) %>
            <% end %>
        </section>
        <h4>Team Members:</h4>
        <ol class="users">
            <%= render @users %>
        </ol>

        <% if false %>
            <li><%= link_to user.name, user %></li>
        <% end %>
    </aside>
    <div class="col-md-8">
        <% if @publisher.proposals.any? %>
            <h3> <%= @publisher.name %> Proposals (<%= @publisher.proposals.count %>)</h3>
            <ol class="proposals">
                <%= render @proposals %>
            </ol>
            <%= will_paginate @proposals %>
        <% end %>
    </div>
</div>
