<li id="proposal-<%= proposal.id %>">
    <%= link_to (image_tag (proposal.user.picture.url (:thumb)), class: "avatar"), proposal.user %>
    <span class="summary"><%= link_to proposal.summary, proposal %></span>
    <span class="user"><%= link_to proposal.user.name, proposal.user %></span>
    <span class="timestamp">
        Posted <%= time_ago_in_words(proposal.created_at) %> ago.
        <% if current_user?(proposal.user) %>
            <%= link_to "delete", proposal, method: :delete,
            data: { confirm: "You sure?" } %>
        <% end %>
    </span>
</li>
