<% provide(:title, 'New Proposal') %>
<h1><%= yield(:title) %></h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= simple_form_for(@proposal) do |f| %>
            <%= render 'shared/error_messages', object: f.object %>

            <%= f.input :summary %>
            <%= f.input :site_id, collection: @proposal.user.publisher.sites %>

            <%= f.button :submit, "Submit proposal", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>
